DEBUG=True
SECRET_KEY=django-insecure-change-this-in-production
DATABASE_URL=postgres://postgres:@127.0.0.1:1234/postgres
ALLOWED_HOSTS=localhost,127.0.0.1
# Genera una nova clau amb: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=I08TJ_a6jqha4aJNErHJsAd8_MUgIY0OI_BH165zSfw=
