.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;

    button {
      display: flex;
      flex-direction: column;
      background-color: #dbeafe;
      border: none;
      border-radius: 99px;
      cursor: pointer;
      padding: 10px;
      font-size: 14px;
      height: 57px;
      width: 57px;
      align-items: center;
      flex: 1 1;
    }
  }
}

.days-container {
  display: flex;
  flex-direction: row;
  gap: 8px;

  .day {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    gap: 8px;

    .header {
      padding: 8px;
      display: flex;
      flex-direction: column;
      background-color: var(--surface);
      border-radius: 12px;
      font-weight: bold;
      border: 1px solid var(--border);
    }

    .event {
      padding: 8px 12px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      border-radius: 8px;
      color: black;

      .title {
        font-weight: bold;
        font-size: 12px;
      }

      .nom-immoble {
        font-weight: bold;
        font-size: 14px;
      }
    }

    .event.entrada {
      background-color: lightgreen;
    }

    .event.sortida {
      background-color: salmon;
    }
  }
}

@media screen and (max-width: 1000px) {
  .days-container {
    .day:nth-child(1),
    .day:nth-child(5) {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .page-header {
    flex-direction: column;
    align-items: unset;
  }

  .days-container {
    .day:nth-child(3),
    .day:nth-child(4) {
      display: none;
    }
  }
}
